@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

body {
    background-color: #121212;
}

.logo {
    display: flex;
    background: #040518;
    height: 25vh;
    width: 100%;
}

.forms-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    transform: translateY(-50%)
}

#newTask {
    background-color: #282a32;
    border: #e88953;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 15px;
    color: #a9a9a9;
    font-size: 14px;
    min-height: 50px;
    max-height: 150px;
    min-width: 500px;
    overflow-y: auto;
    resize: none;
}

.option {
    display: flex;
    box-sizing: 2px;
    padding: 10px;
    font-size: 12px;
    justify-content: space-around;
    transform: translateY(-10%);
    color: #fff;
}

.tasks-group, .done-group {
    display: flex;
    align-items:center
}

.badge {
    background-color: #333;
    color: white;
    border-radius: 57%;
    padding: 3px 8px;
    margin-left: 8px;
}

#submit {
    background-color: #19195b;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 15px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 2;
    transform: translateY(-50%)
}

.list {
    background-color: #121212;
    width: 100%;
    min-height: 75vh;
}